@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.wrapper{
    margin: 3em;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.logo_nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 2rem;
}
.navigation{
    display: none;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}.navigation ul li{
    list-style: none;
}.navigation ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s ease-in-out;
}.navigation ul li a:hover{
    color: rgb(0, 225, 255);
}.menu{
    position: fixed;
    right: 20px;
    top: 50px;
    width: 25px;
}.menu_1{
    position: fixed;
    top: 20px;
    right: 0;
    background: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}.menu_1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 9em;
    gap: 20px
}.menu_1 ul li{
    list-style: none;
}.menu_1 ul li a{
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    display: flex;
    font-weight: 900;
    text-align: left;
}.menu_1 ul li a:hover{
    color: rgba(0, 0, 0, 0.514);
    transform: translateY(-10px);
}.menu_1 ul li a::before{
    content: attr(data-text);
    position: absolute;
    bottom: -10px;
    font-size: 0.7rem;
    z-index: 1;
    pointer-events: none;
    color: rgb(0, 0, 0);
    letter-spacing: 100px;
    opacity: 0;
    transition: 0.5s;
}.menu_1 ul li a:hover::before{
    opacity: 1;
    letter-spacing: normal;
}.menu_1 .close{
    width: 100px;
    margin: 2em;
    float: right;
    background: rgb(255, 255, 255);
}.open-nav {
    transform: translateX(0%);
    z-index: 999;
}.arrow{
    height: 50px;
    position: fixed;
    top: 720px;
    transform: rotate(180deg);
    border: 1px solid black;
    border-radius: 50%;
}

/* hero section */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}.hero p{
    font-size: 1.5rem;
}.hero p span{
    background: black;
    color: white;
    padding-left: 0.3em;
    padding-right: 0.3em;
}.hero h1{
    font-size: 4rem;
    text-align: center;
}

/* about section */

.about{
    height: 100vh;
}.about h1{
    position: relative;
    font-size: 3rem;
}.about h1::after{
    content: '';
    top: 25px;
    right: -65px;
    position: absolute;
    width: 90%;
    height: 2px;
    background: black;
}.about img{
    margin-top: 30px;
    height: 450px;
    width: 450px;
    border-radius: 50%;
}
.about_content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}.about_content p{
    padding-top: 1em;
    font-size: 1.5em;
    width: 500px;
    text-align: justify;
}

/* skills section */

.skills{
    height: 100vh;
}.skills h1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
}.skills h1::after{
    content: '';
    top: 25px;
    left: -65px;
    position: absolute;
    width: 90%;
    height: 2px;
    background: black;
}.skills svg{
    width: 70px;
    height: 70px;
    margin-right: 1em;
}
.skills_content{
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}.skills_content p{
    margin-top: 4em;
    font-size: 1.5em;
    width: 500px;
    text-align: justify;
}
.lang{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.frontend h2{
    text-align: center;
    background: black;
    color: white;
    padding: 0.1em;
    border-radius: 50px;
    font-size: 30px;
    margin-bottom: 0.8em;
}
.backend h2{
    text-align: center;
    background: black;
    color: white;
    padding: 0.1em;
    border-radius: 50px;
    font-size: 30px;
    margin-bottom: 0.8em;
}

/* projects section */

.projects{
    height: 100vh;
    position: relative;
}.projects h1{
    position: relative;
    font-size: 3rem;
}.projects h1::before{
    content: '';
    position: absolute;
    width: 450px;
    height: 450px;
    background: rgba(0, 0, 0, 0.493);
    top: 100px;
    left: -300px;
    z-index: -1;
    border-radius: 50%;
}.projects h1::after{
    content: '';
    top: 35px;
    right: -65px;
    position: absolute;
    width: 85%;
    height: 2px;
    background: black;
}.project_content img{
    position: absolute;
    top: 150px;
    left: 50px;
    height: 260px;
    width: 533px;
    border-radius: 40px;
    z-index: -1;
}
.description h2{
    position: absolute;
    top: 450px;
    right: 150px;
    font-size: 3rem;
}.description h2::before{
    content: '01';
    position: absolute;
    top: -50px;
    left: -100px;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.397);
}
.description p{
    position: absolute;
    top: 550px;
    right: 50px;
    padding-top: 1em;
    font-size: 1.5em;
    width: 480px;
    text-align: justify;
}

/* contact section */

.contact{
    height: 70vh;
}.contact h1{
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
}.contact h1::after{
    content: '';
    top: 25px;
    left: -65px;
    position: absolute;
    width: 85%;
    height: 2px;
    background: black;
}
.contact_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}.contact_content h2{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
}.contact_content p{
    text-align: center;
}.contact_content h3 span{
    background: black;
    color: white;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

/* footer */
footer{
    background: rgba(0, 0, 0, 0.874);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2em;
    position: relative;
}.socmed ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}.socmed ul li{
    list-style: none;
}.socmed ul li svg{
    width: 30px;
    height: 30px;
}.socmed::after{
    content: '';
    top: 40px;
    right: 0;
    position: absolute;
    width: 25%;
    height: 2px;
    background: rgb(255, 255, 255);
}footer .logo a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.603);
}

@media screen and (min-width:768px){
    .navigation{
        display: flex;
    }.menu{
        display: none;
    }
}

@media screen and (min-width:1024px){
    .wrapper{
        margin: 5em;
    }
    .navigation{
        display: flex;
    }.menu{
        display: none;
    }.navigation ul li a{
        font-size: 2rem;
    }.logo_nav a{
        font-size: 4rem;
    }

    .hero p{
        font-size: 2rem;
    }.hero h1{
        font-size: 7rem;
    }

    .about_content{
        flex-direction: row;
        justify-content: space-between;
    }.about h1{
        font-size: 5rem;
    }.about h1::after{
        top: 45px;
    }.about_content p{
        font-size: 2rem;
        width: 800px;
    }.about_content img{
        margin-top: 70px;
        width: 600px;
        height: 600px;
    }

    .skills_content p{
        font-size: 2rem;
        width: 800px;
    }.skills h1{
        font-size: 5rem;
    }.skills h1::after{
        top: 45px;
    }

    .project_content img{
        width: 900px;
        height: 500px;
        left: 100px;
    }.projects h1::before{
        width: 600px;
        height: 600px;
    }.projects h1{
        font-size: 5rem;
    }.projects h1::after{
        top: 45px;
    }.project_content p {
        top: 400px;
    }.project_content h2{
        top: 330px;
    }

    .contact_content h2{
        font-size: 5rem;
    }.contact_content p{
        font-size: 2rem;
    }.contact_content h3{
        font-size: 2.5rem;
    }.contact h1{
        font-size: 5rem;
    }.contact h1::after{
        top: 45px;
    }
    
    .socmed::after{
        width: 40%;
    }
}